/* 全体共通のCSSはココ */
input:focus,textarea:focus{
  outline:none;
}

input:focus:invalid,
textarea:focus:invalid{
    border:solid 2px red;
}

input:focus:valid,
textarea:focus:valid{
    border:solid 1px grey;
    
}


body{
	padding-top: 70px;
    color: #555;
}

.margin-b10{
	margin-bottom: 10px;
}

.text-center{
	text-align: center;
}

h2 {
    font-size: 28px;
    color: #3498db;
}

hr {
    position: relative;
    border: none;
    display: block;
    height: 1px;
    margin-top: 5px;
}

hr:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 47%;
    width: 6%;
    height: 1px;
    background: #3498db;
}


.pic-disc{
    font-size: 18px;
}


.is-hide{
 display:none; 
}
.loading{
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  background:rgba(0,0,0,.5);
  z-index: 10000;
}
/*.loading::before{
  content:"";
  display:block;
  position:fixed;
  left:50%;
  top:50%;
  width:50px;
  height:50px;
  border-radius:5px;
  margin-top:-15px;
  margin-left:-15px;
  background:white;
}*/
.loading::after{
  content:"";
  display:block;
  position:fixed;
  left:50%;
  top:50%;
  width:32px;
  height:32px;
  border-radius:20px;
  margin-top:-10px;
  margin-left:-10px;
  border:4px solid #60ABB9;
  border-right:4px solid white;
  animation: rotate 1s infinite linear;
}
@keyframes rotate {
  0%    { transform: rotate(0deg); }
  100%  { transform: rotate(360deg); }
}
